<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<services>
			<service name="WcfServiceCalc.Service1">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:52788/Service1/" />
					</baseAddresses>
				</host>
				<endpoint address=""
					binding="wsHttpBinding"
					contract="WcfServiceCalc.IService1" />
				<endpoint address="/Add"
						  binding="wsHttpBinding"
						  contract="WcfServiceCalc.IService1" />
				<endpoint address="/Subtract"
						  binding="wsHttpBinding"
						  contract="WcfServiceCalc.IService1" />
				<endpoint address="/Multiply"
						  binding="wsHttpBinding"
						  contract="WcfServiceCalc.IService1" />
				<endpoint address="/Divide"
						  binding="wsHttpBinding"
						  contract="WcfServiceCalc.IService1" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
